.main-nav {
    height: 56px;
    min-height: 56px;
    padding: 0 16px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    border-radius: 0 0 0 0;
    opacity: 0.7;
}

.main-nav a {
    background: url("/resources/images/logos/logo.png") 0 8px no-repeat;
    display: block;
    height: 56px;
    width: 135px;
    overflow: hidden;
    text-indent: -3000px;
    margin: 0;
    padding: 0;
}