<div class="container">
    <h1>システムパスワードリセット</h1>
    <div [hidden]="errors.length===0" class="list-group">
        <ul class="list-group">
            <li class="list-group-item list-group-item-danger" *ngFor="let error of errors">
                {{error}}
            </li>
        </ul>
    </div>
    <div [hidden]="messages.length===0" class="list-group">
        <li class="list-group-item list-group-item-success" *ngFor="let msg of messages">
            {{msg}}
        </li>
    </div>
    <form *ngIf="!success" (ngSubmit)="onSubmit()" #forgotForm="ngForm">
        <div class="form-group">
            <label for="sysmtemName">社員番号</label>
            {{staffNo}}
        </div>
        <div class="form-group">
            <label for="mailAdress">システム名前</label>
        </div>
        <div class="form-group">
            <label for="password">新しいパスワード
            </label>
            <input type="password" class="form-control" [(ngModel)]="model.password" ngControl="password" #password="ngForm" required>
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">パスワードを入力してください。</div>
        </div>
         <div class="form-group">
            <label for="repassword">パスワード確認
            </label>
            <input type="password" class="form-control" [(ngModel)]="model.repassword" ngControl="repassword" #repassword="ngForm" required>
            <div [hidden]="repassword.valid || repassword.pristine" class="alert alert-danger">パスワードをもう一回　入力してください</div>
        </div>
        <button type="submit" class="btn btn-default" [disabled]="!forgotForm.form.valid">登録</button>
        <button type="reset" class="btn btn-default">リセット</button>
    </form>
</div>